<a href="https://colab.research.google.com/github/JennaBeutler/APRD-6342/blob/master/Exercise_4_Using_CensusReporter_to_make_geographic_selections_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercise 4: Using CensusReporter to make geographic selections
### APRD 6342  
### Fall 2019  
### Jenna Beutler

Import necessary packages and mount Google Drive, upload the data to Colab and look at it.

In [0]:
import numpy as np
import pandas as pd
import requests
import json

from google.colab import drive
drive.mount('/content/drive')

In [0]:
path = '/content/drive/My Drive/Colab Notebooks/Python Exercises/msas.csv'
coffee = pd.read_csv(path)
coffee.head()

    CBSA                         NAME  POPESTIMATE2017
0  10180                  Abilene, TX           170219
1  10420                    Akron, OH           703505
2  10500                   Albany, GA           151434
3  10540                   Albany, OR           125047
4  10580  Albany-Schenectady-Troy, NY           886188

Get the top 3 cities in terms of population estimate in 2017. These are the cities I'll be working with using CensusReporter.

In [0]:
sortedPop = coffee.sort_values(by = 'POPESTIMATE2017', ascending = False)
sortedPop.head()
topthree = sortedPop[0:3]
topthree

      CBSA                                   NAME  POPESTIMATE2017
249  35620  New York-Newark-Jersey City, NY-NJ-PA         20320876
210  31080     Los Angeles-Long Beach-Anaheim, CA         13353907
68   16980     Chicago-Naperville-Elgin, IL-IN-WI          9533040

CBSA: the unique code for each metro area in the top 3 most populated metros. 
   
tableids: Finding the table numbers from the tables I want to grab from CensusReporter.  
  
Using the table ids and concatenating them, turning them into one string to request all the information at once from CensusReporter.

In [0]:
cbsa = ['35620', '31080', '16980' ]

In [0]:
tableids = ['B01001', 'B19001', 'B03002' ] #table IDs find online (age, income, race)

In [0]:
tableidstring = ','.join(tableids)

In [0]:
requesturl01 = 'https://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=310|01000US' % tableidstring

Converting the response data into a parsed json text file.

In [0]:
response = requests.get(requesturl01)
census_stuff = response.text
parsedjson = json.loads(census_stuff)

In [0]:
#Pulling out age range 18 - 34 for males and females 
parsedjson['tables']['B01001'] 
agebucket = ['B01001007', 'B01001008', 'B01001009', 'B01001010', 'B01001011', 'B01001012' ,'B01001031' ,'B01001032',  'B01001033', 'B01001034']

In [0]:
#Pulling out HH income from 50k - 74.9k 
parsedjson['tables']['B19001']
incomebucket = ['B19001011', 'B19001012' ]

In [0]:
# Pulling out the hispanic population
parsedjson['tables']['B03002']
hispanicpop = ['B03002012']

In [0]:
# Pulling out the demographics from NYC metro area
#Ages:
age1 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001007']
age2 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001008']
age3 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001009']
age4 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001010']
age5 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001011']
age6 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001012']
age7 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001031']
age8 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001032']
age9 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001033']
age10 = parsedjson['data']['31000US35620']['B01001']['estimate']['B01001034']
agetotalNY = age1 + age2 +age3 + age4 + age5 + age6 + age7 + age8 +age9 + age10
agetotalNY

3305203.0

In [0]:
#ages for LA
age1la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001007']
age2la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001008']
age3la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001009']
age4la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001010']
age5la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001011']
age6la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001012']
age7la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001031']
age8la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001032']
age9la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001033']
age10la = parsedjson['data']['31000US31080']['B01001']['estimate']['B01001034']
agetotalla = age1la + age2la + age3la + age3la + age4la + age5la + age6la + age7la + age8la + age9la +age10la
agetotalla

2480761.0

In [0]:
#ages for Chicago
age1chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001007']
age2chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001008']
age3chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001009']
age4chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001010']
age5chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001011']
age6chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001012']
age7chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001031']
age8chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001032']
age9chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001033']
age10chi = parsedjson['data']['31000US16980']['B01001']['estimate']['B01001034']
agetotalchi = age1chi + age2chi + age3chi + age3chi + age4chi + age5chi + age6chi + age7chi + age8chi + age9chi +age10chi
agetotalchi

1641664.0

In [0]:
AgeCountTotal = [agetotalchi, agetotalla, agetotalNY]
max(AgeCountTotal) #NEW YORK HAS THE HIGHEST AMOUNT OF PEOPLE IN OUR TARGET AGE RANGE

3305203.0

In [0]:
# pulling out Income information NY
inc1 = parsedjson['data']['31000US35620']['B19001']['estimate']['B19001011']
inc2 = parsedjson['data']['31000US35620']['B19001']['estimate']['B19001012']
totalNYinc = inc1 + inc2
totalNYinc

1050888.0

In [0]:
#Income for LA
inc1la = parsedjson['data']['31000US31080']['B19001']['estimate']['B19001011']
inc2la = parsedjson['data']['31000US31080']['B19001']['estimate']['B19001012']
totallainc = inc1la + inc2la
totallainc

700681.0

In [0]:
#Income for Chicago
inc1chi = parsedjson['data']['31000US16980']['B19001']['estimate']['B19001011']
inc2chi = parsedjson['data']['31000US16980']['B19001']['estimate']['B19001012']
totalchiinc = inc1chi + inc2chi
totalchiinc

584377.0

In [0]:
IncCountTotal = [totalNYinc, totallainc, totalchiinc]
max(IncCountTotal) #NY HAS THE HIGHEST POPULATION OF PEOPLE WHO MAKE BEWTEEN 50K AND 74.9K

1050888.0

In [0]:
#Hispanic populations in NY
hispanicny = parsedjson['data']['31000US35620']['B03002']['estimate']['B03002012']
hispanicny

4863602.0

In [0]:
#hispanic population LA
hispanicla = parsedjson['data']['31000US31080']['B03002']['estimate']['B03002012']
hispanicla

5972751.0

In [0]:
# hispanic population Chi
hispanicchi = parsedjson['data']['31000US16980']['B03002']['estimate']['B03002012']
hispanicchi

2081524.0

In [0]:
totalHispanicPop = [hispanicny, hispanicla, hispanicchi]
max(totalHispanicPop)  # LA HAS THE HIGHEST HISPANIC POPULATION

5972751.0

Taking all the above information and creating a dataframe:

In [0]:
topthree['Hispanic Pop'] = totalHispanicPop
topthree['Income between 50-74.9k'] = IncCountTotal
topthree['Ages 18-34'] = AgeCountTotal
topthree

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      CBSA  ... Ages 18-34
249  35620  ...  1641664.0
210  31080  ...  2480761.0
68   16980  ...  3305203.0

[3 rows x 6 columns]

Looking at the place with the maximum amount of people in the target demographics.

In [0]:
topthree['Total Percent'] = (topthree['Hispanic Pop'] + topthree['Income between 50-74.9k'] + topthree['Ages 18-34']) / topthree['POPESTIMATE2017']
topthree[topthree['Total Percent']==topthree['Total Percent'].max()] 
# LOS ANGELES HAS THE HIGHEST POPULATION ACROSS THE BOARD.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      CBSA                                NAME  ...  Ages 18-34  Total Percent
210  31080  Los Angeles-Long Beach-Anaheim, CA  ...   2480761.0       0.685507

[1 rows x 7 columns]

What city has the highest count of the audience you chose for parameter #1?  
- New York Metro  
What city has the highest count of the audience you chose for parameter #2?  
- New York Metro  
What city has the highest count of the audience you chose for parameter #3?  
- Los Angeles Metro  
What city has the highest mean percentage across all three categories?  
- Los Angeles Metro