<a href="https://colab.research.google.com/github/JennaBeutler/APRD-6342/blob/master/Exercise_1_Basic_Ad_Analyses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Exercise 1: Basic Ad Analyses  
### APRD 6342  
### Fall 2019  
### Jenna Beutler

First importing all necessary packages and mounting the drive to Colab

In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
import calendar
import statsmodels.api as sm

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Loading the data into colab and looking at the head of the data

In [2]:
 path = '/content/drive/My Drive/Colab Notebooks/Python Exercises/Travel Pony Facebook.csv'
df = pd.read_csv(path)
df.head()

   Start Date  ... Cost per Page Engagement (USD)
0  2013-12-02  ...                       1.219512
1  2013-12-01  ...                       1.395349
2  2013-11-30  ...                       1.190476
3  2013-11-29  ...                       1.167315
4  2013-11-22  ...                       2.512857

[5 rows x 20 columns]



---

#### Question 1: Create a new column 'Cost per Impression'. In terms of this metric, what day of the week works best?  
First, I create a column that divides Amount Spent by Impressions  
Then create a weekday column

In [3]:
df['cost per impression'] = df['Amount Spent (USD)'] / df['Impressions']

#Convert Start Date column to a datetime object
df['Start Date'] = pd.to_datetime(df['Start Date'])

# Create a new column called 'Day of Week' and populate it using the date column
df['Day of Week'] = df['Start Date'].dt.day_name()
df.head()

  Start Date    End Date  ... cost per impression Day of Week
0 2013-12-02  2013-12-02  ...            0.000466      Monday
1 2013-12-01  2013-12-01  ...            0.000652      Sunday
2 2013-11-30  2013-11-30  ...            0.000448    Saturday
3 2013-11-29  2013-11-29  ...            0.000452      Friday
4 2013-11-22  2013-11-22  ...            0.002464      Friday

[5 rows x 22 columns]

Then I create a pivoted version of the data, grouping by day of the week, so I can see what days performed best.

In [0]:
pivotday = df.pivot_table(index = 'Day of Week', aggfunc = 'mean')

# Sort the values by cost per impression to see which day of the week performs best and worst. 
pivotday.sort_values(by= ['cost per impression'])

             Amount Spent (USD)     Clicks  ...  Website Clicks  cost per impression
Day of Week                                 ...
Saturday               9.625511  10.014028  ...        3.691383             0.002629
Monday                 7.427097   7.536503  ...        2.607810             0.002910
Wednesday              7.956024   7.781726  ...        2.475465             0.002981
Tuesday                9.455084   9.419831  ...        3.158228             0.003040
Thursday               7.640209   8.054007  ...        2.101045             0.003398
Sunday                 9.676534   9.981092  ...        3.529412             0.003688
Friday                10.014741  10.147410  ...        3.318725             0.004097

[7 rows x 17 columns]



---

#### Question 2: Generate the correlation values between amount spent and the following:  
- reach  
- frequency  
- unique clicks  
- page likes

In [0]:
#Create a correlation matrix, pick out the numbers I need to answer the question. 
df.corr()

                                   Reach  ...  cost per impression
Reach                           1.000000  ...             0.028005
Frequency                       0.334101  ...            -0.018217
Impressions                     0.966851  ...             0.006973
Clicks                          0.709466  ...             0.088315
Unique Clicks                   0.722249  ...             0.086798
Amount Spent (USD)              0.703124  ...             0.119201
Page Likes                      0.304388  ...             0.143931
Page Engagement                 0.597648  ...             0.117141
Post Engagement                 0.605244  ...             0.108649
Post Likes                      0.151727  ...             0.106425
Post Comments                   0.100254  ...             0.074364
Post Shares                     0.153288  ...             0.090520
Photo Views                     0.205678  ...             0.084764
Website Clicks                  0.858860  ...             0.071118
Cost per Page Like (USD)        0.646366  ...             0.088785
Cost per Page Engagement (USD)  0.168697  ...             0.150591
cost per impression             0.028005  ...             1.000000

[17 rows x 17 columns]



---

#### Question 3: Finally, perform a simple multiple regression analysis where Unique Clicks is the dependent variable and Reach and Frequency are the independent (predictor) variables.

In [0]:
# Setting up the variables to run a regression 
X = df[['Reach', 'Frequency']]
y = df['Unique Clicks']

# saving a fitted OLS regression and its predictions
model = sm.OLS(y, X).fit()
predictions = model.predict(X)

#looking at the summary of the regression
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.557
Model:                            OLS   Adj. R-squared (uncentered):              0.556
Method:                 Least Squares   F-statistic:                              2325.
Date:                Sat, 09 Nov 2019   Prob (F-statistic):                        0.00
Time:                        18:38:23   Log-Likelihood:                         -15973.
No. Observations:                3705   AIC:                                  3.195e+04
Df Residuals:                    3703   BIC:                                  3.196e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Reach          0.0019   3.12e-05     62.490      0.000       0.002       0.002
Frequency      3.6139      0.298     12.109      0.000       3.029       4.199
==============================================================================
Omnibus:                     5107.616   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5128392.747
Skew:                           7.331   Prob(JB):                         0.00
Kurtosis:                     184.674   Cond. No.                     9.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""